
sdk use java 11.0.19.fx-zulu
export PYTHONHOME=/Users/rang/miniconda3/

export MILL_JVM_OPTS_PATH="-Xss1G -Xmx10G"


   a="NTI3NWRkMzAtMTFmMy00YzMyLWI4ZDItMGQ3NjJlNzNjNjNjOkxlaHFSajgxcXMyREdmMVpsM3lOQXNyVkNuMXQzTmtqdW5lNHQ0RXNPUGRqaVprMEFOWmtJNkxReVplWmREYzE="
   notionAs="secret_p11GfF1YMHZzxBtTEzBvicauawvmLLTjsPVKIk6UAHK"
   eggPrice="http://175.24.206.163:30017"
   scheduleEnable="0"
   memcached="194.163.143.112:11211"
   env="development"
   chromeDriver="/Users/rang/rang/claim/selenium/chromedriver"

   LD_LIBRARY_PATH="/Users/rang/miniconda3/lib"
   pythonHome="/Users/rang/miniconda3/"
   jepHome="/Users/rang/miniconda3/lib/python3.8/site-packages/jep"
   akTool="http://175.24.206.163:30006"
   jqUserName="18718046351"
   jqPassword="Wo070507"
   tuShare="9c63af853b7660fed04063a301117d431f7767e89526163c0f63db77"

   githubAk="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"
   githubUser="ranglang"

   mailHost="smtp.mxhichina.com"
   mailPort="465"
   mailUserName="lanzw@wintercoming.xyz"
   mailPassword="Wozhiaini070507"
   userEmail="lanziwen@outlook.com"

   pgHost="194.163.143.112"
   pgPort="30002"
   pgUserName="postgres"
   pgPassword="wo070507"
   pgDatabase="tribe4"

   tradeUserName="18507556351"
   tradeAk="wo070507"

   tempEnable="1"




export     NOTION_AK=$notionAs;
export     AK_SHARE_BACKEND=$akTool;
export     CHROME_DRIVER_PATH=$chromeDriver;
export     SCHEDULE_ENABLE=$scheduleEnable;
export     ENV=development;
export     JQ_USERNAME=$jqUserName;
export     TEMP_ENABLED=$tempEnable;
export     JQ_PASSWORD=$jqPassword;
export     TUSHARE_AK=$tuShare;
export     USER_EMAIL=$userEmail;
export     EMAIL_HOST=$mailHost;
export     EMAIL_PORT=$mailPort;
export     EMAIL_USER_NAME=$mailUserName;
export     EMAIL_PASSWORD=$mailPassword;
export     TRADE_USERNAME=$tradeUserName;
export     PG_HOST=$pgHost;
export     PG_PORT=$pgPort;
export     PG_USERNAME=$pgUserName;
export     PG_PASSWORD=$pgPassword;
export     PG_DATABASE=$pgDatabase;
export     TRADE_AK=$tradeAk;
export     MEMCACHED=$memcached
