out
.envrc
.bsp
.idea/
.idea_modules/
.idea/
.metals/
.metals/
__pycache__
.DS_Store
.kaleidoCache/
**.html
shared/target/
target
selenium/chromedriver
filename
env.sc
**.log
shared/project/target/
ts-node/node_modules
.scala-build
admin/src/main/scala/e/.bsp/
.bloop
shared/resources/application.conf
